 <!DOCTYPE html>
 <html>
 <head>
 	<title>Movie Box </title>
 	<!-- libraries -->
 	<script src="node_modules/angular/angular.js"></script>
 	<script async charset="utf-8"
 	src="//cdn.iframe.ly/embed.js?api_key=..." 
 	></script>
 	<script src="//cdn.iframe.ly/embed.js?api_key=...&parent=yourclassname" 
 	async charset="utf-8"></script>
 	<script
 	src="https://code.jquery.com/jquery-3.2.1.min.js"
 	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
 	crossorigin="anonymous"></script>
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	  <link rel="stylesheet" type="text/css" href="style.css">
<link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>
 </head>

 <body >
<div class="background" ><br><br>
    <center><h1 class="textonimage">Cinema Fire Wall</h1>
      <img height="120" width="120" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/simple-red-glossy-icons-sports-hobbies/047699-simple-red-glossy-icon-sports-hobbies-film-clapper1-sc44.png">
    </center>
</div>
 		<nav id="navbar" class="navbar navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home Page</a></li>
				<!-- <li><a href="#"> Top Rated </a></li> -->
				<li><a href="http://127.0.0.1:8080/favoritelist"> Favorite List </a></li>
				<li><search /></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="/signUp"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>

				<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
				<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LogOut </a></li>
			</ul>
		</div>
	</nav>
 	<favoritelist ng-app='favorite'/>
 	<script src="public/components/favoritelist.js"></script>
 	<script src="public/components/favoriteentry.js"></script>
 </body>
 </html>