<center><div>
	<h2><span class="label label-default" style="background-color: rgba(92, 0, 0, 0.91);box-shadow: 0 0 50px pink;font-family: Fredoka One; font-weight: normal"><font color="white">Welcome {{$ctrl.user}}</font></span><h2>
</div></center>
<div>
<search change='$ctrl.change'/>
</div>
<div>
<list movie='$ctrl.movie' trailer='$ctrl.trailer' user="$ctrl.user" />
</div>
<div>
	<div  id="item" ng-repeat="fakev in $ctrl.listMovie" class="col-sm-3">
		<img  class="img" ng-src={{"http://image.tmdb.org/t/p/w185/"+fakev.poster_path}}>
		<!-- {{fakev.original_title}} -->
	</div>
	<entry result="$ctrl.trailer_string"></entry>

</div>